.login {
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    // padding-top: 100px;
    width: 100%;
}

.login-container {
    width: 35%;
    height: 500px;
    padding: 40px 60px;
    background: rgb(238, 234, 234);
    margin: auto;
}

.login-container h1 {
    margin: 20px 0px;
}

.login-fields {
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}

.login-fields input {
    height: 40px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
    border-radius: 5px;
}

.login-btn {
    width: 300px;
    height: 52px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    // font-weight: 400;
    cursor: pointer;
}

.have-accunt {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 15px;
    font-weight: 500;
}

.have-accunt span {
    color: #ff4141;
    font-weight: 500;
}

.agree {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap:20px ;
    color: #5c5c5c;
    font-size: 15px;
    font-weight: 500;
}
.agree span {
    color: #ff4141;
    font-weight: 500;
}
.error-message {
    color: red;
    font-size: 12px;
  }
  