<div class="full-page-image">
    <div class="left">
        <h2>New Arrivals</h2>
        <div>
            <div class="hand-icon">
                <p>New</p>
                <img class="" src="../../assets/Assets/hand_icon.png" alt="hand-icon">
            </div>
            <p>Collections</p>
            <p>For everyone</p>
        </div>
        <div class="latest-btn">
            <div>Latest Collections</div>
            <img src="../../assets/Assets/arrow.png" alt="arrow">
        </div>
    </div>
    <div class="right">
        <img src="../../assets/Assets/hero_image.png"  style="
        height: -webkit-fill-available;" alt="Background image">
    </div>
</div>