<div class="footer">
    <div class="footer-logo">
        <img src="../../assets/Assets/logo.png" alt="Logo">
        <p>SHOPPER</p>
    </div>

    <div class="social-icons">
        <div class="icons-container">
            <img src="../../assets/Assets/instagram_icon.png" alt="">
        </div>
        <div class="icons-container">
            <img src="../../assets/Assets/pintester_icon.png" alt="">
        </div>
        <div class="icons-container">
            <img src="../../assets/Assets/whatsapp_icon.png" alt="">
        </div>
    </div>
    <ul class="footer-links">
        <li> Company </li>
        <li>
            Products
        </li>
        <li>
            Offices
        </li>
        <li>
            About
        </li>
        <li>
            Contact
        </li>
    </ul>
    <div class="footer-copyright">
        <hr />
        <p>Copyright &#64; 2024 shopper.com - All Right Reserved.</p>
    </div>
</div>